- var scripts = htmlWebpackPlugin.files.js || []
- var styles = htmlWebpackPlugin.files.css || []
- var favicon = require('./assets/favicon.png') || ''
- var manifest = require('-!file-loader?name=[name].[ext]!./assets/manifest.json') || ''
- var jquery = require('-!file-loader?name=js/[name].[ext]!jquery/dist/jquery.min.js') || ''
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href=favicon)    
    each href in styles
      link(rel="stylesheet", href=href)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
    title TraktForMPC
  body.no-js
    #root
      header#header
        .cover(style="background-image: url('');")
        .details
          h2.show-title
            span.title
            span.season
          h1.episode-title
            span.episode
            span.title
          h1.movie-title
            span.title
            span.year
      .container
        .poster
          img(src="", alt="Poster")
        .action-buttons
          a(class="btn"  href="#") Watch
          a(class="btn"  href="#") Check In
        .overview
          p
          
    script(src=jquery)
    each src in scripts
      script(src=src)
